#
# Copyright 2016 MarkLogic Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0#
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[marklogic]

# Scheme to use when accessing MarkLogic management REST API (http|https).
scheme = http

# Host to use when accessing MarkLogic management REST API (FQDN hostname).
host = localhost

# Port to use when accessing MarkLogic management REST API.
port = 8002

# Authentication to use when accessing MarkLogic management REST API (BASIC|DIGEST).
auth= DIGEST

# Username to use when accessing MarkLogic management REST API.
user = admin

# Password to use when accessing MarkLogic management REST API.
pass = admin

[newrelic]

# Your NewRelic license key.
key =

# Proxy (ex. http://10.10.1.10:3128).
http_proxy =

[plugin]

# NewRelic plugin display name.
name = marklogic

# Unique NewRelic plugin guid.
guid = com.marklogic

# Sample period in seconds.
duration = 60

# Set logging level (INFO|DEBUG|ERROR).
log_level = INFO
 
# Local cluster summary.
summary_status= True

# Database(s) detail status.
databases=

# Hosts summary.
hosts_summary_status= False

# Host(s) detail status.
hosts=

# Forests summary.
forests_summary_status= False

# Forest(s) detail status.
forests=

# Group(s) detail status.
groups=

# Servers summary.
servers_summary_status= False

# Server(s) detail status (must supply group name ex. ServerName:GroupName).
servers=